color comment            #00ff00 default
color enum               #ff80ff default
color function           #00ffff default
color heading       bold #ffffff default
color identifier    bold #ffffff default
color number             #8080ff default
color operator      bold #80ffff default
color string             #ffff00 default

# vim: syn=neomuttrc
