set allow_ansi        = yes
set help              = yes
set imap_pass         = "secret"
set markers           = yes
set pager_index_lines = 0
set sidebar_visible   = no
set tilde             = yes

set my_fruit          = "apple"

# color body             #c0c080 default
color indicator        #8080ff #ffff00
color markers bold     #0000ff #ffffff
color normal           default #003030
color search underline default #383838

color error   #000000 #ff0000
color warning #000000 #ffff00
color message #000000 #00ffff
color debug   #404040 #c0c0c0

color stripe_odd  underline default default
color stripe_even bold      default default

source "colour1.rc"

color quoted0 color196 default
color quoted1 color202 default
color quoted2 color226 default
color quoted3 color46  default
color quoted4 color75  default
color quoted5 color21  default
color quoted6 color207 default
color quoted7 color63  default
color quoted8 color168 default
color quoted9 color178 default

color status      #000000       #ffffc0
color status      #ffffff       #ff0000   'L[0-9]+' 2
color status      brightblack   default   '<0>'
color status      brightwhite   default   '<[1-9][0-9]*>'
color status      brightblack   default   '(Msgs|New|Old|Unread|Del|Tag):0'
color status      brightmagenta default   'Msgs:[1-9][0-9]*'
color status bold brightgreen   default   'New:[1-9][0-9]*'
color status      brightyellow  default   'Old:[1-9][0-9]*'
color status      brightcyan    default   'Unread:[1-9][0-9]*'
color status bold default       brightred 'Del:[1-9][0-9]*'
color status      default       cyan      'Tag:[1-9][0-9]*'

color body        cyan     default "(ftp|http|https)://[^ ]+"
color body        cyan     default "[-a-z_0-9.]+@[-a-z_0-9.]+"
color body        color228 default '/\<\S+\>/'
color body        color228 default '\*\<\S+\>\*'
color body        color228 default '\<_\S+_\>'
color body bold   green    yellow  "Content-Description: junk.bin"
color body        green    yellow  "Content-Disposition: attachment; filename=.*"
color body italic green    yellow  "Content-Transfer-Encoding: base64"
color body        green    yellow  "Content-Type: application/octet-stream"

color index      black    red     "~N~X1" # new AND attachment
color index bold color119 default "~N" # New
color index      color119 default "~O" # Old
color index      color237 default "~d>30d" # Over a month old
color index      color240 default "~D" # Deleted
color index      default  cyan    "~T"
color index bold green    default "~v~(~N)" # collapsed thread with New
color index bold green    default "~v~(~O)" # collapsed thread with New
color index      red      default "~v~(~F)~(!~N)" # collapsed thread with Flagged but no New
color index      white    red     "~F" # Flagged
color index      yellow   default "~v~(!~N)~(!~F)" # collapsed thread with no New or Flagged

bind pager <Up>   previous-line
bind pager <Down> next-line

bind pager k      previous-line
bind pager j      next-line

bind pager \ce    next-line
bind pager \cy    previous-line

bind pager [      half-up
bind pager ]      half-down

bind pager \cu    half-up
bind pager \cd    half-down

bind pager \cf    next-page
bind pager \cb    previous-page

bind pager n      search-next
bind pager N      search-opposite

bind pager /      search
bind pager ?      search-reverse

bind pager g      noop
bind pager gg     top
bind pager G      bottom

macro pager w '<enter-command> set wrap=60<enter><enter-command> echo wrap=60<enter>'   "Wrap to 60 chars"
macro pager W '<enter-command> set wrap=-20<enter><enter-command> echo wrap=-20<enter>'
macro pager q '<exit><exit>'

macro index,pager <f5> "<enter-command>source .git/files/spager/colour1.rc<enter>"
macro index,pager <f6> "<enter-command>source .git/files/spager/colour2.rc<enter>"

# vim: syn=neomuttrc
